@model EntityLayer.Product

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UILayoult.cshtml";
}

<h1>Ürün Ekle</h1>

<form method="post">
    @Html.Label("Ürün Adı")
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Name)
    <br/>
    @Html.Label("Fiyat")
    @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Price)
    <br/>
    @Html.Label("Stok")
    @Html.TextBoxFor(x => x.Stock, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Stock)
    <br/>
    <button class="btn btn-success">Kaydet</button>
</form>